/* Establecer un contenedor para ambos elementos */
.container {
  display: flex; /* Utilizar flexbox */
}

.add-contact-container {
  background-color: #fff; /* Color de fondo */
  border: 2px solid #ccc; /* Borde de 2 píxeles sólido */
  border-radius: 10px; /* Bordes redondeados */
  padding: 20px; /* Espaciado interno de 20 píxeles */
  margin-top: 20px; /* Margen superior de 20 píxeles para separarlo de la lista de contactos */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

.contacts-container {
  flex: 1; /* Que ocupe la mitad del espacio disponible */
  padding: 20px;
  border: 2px solid #ccc;
  background-color: #f2f2f2;
}

.details-container {
  flex: 1; /* Que ocupe la mitad del espacio disponible */
  padding: 20px;
  border: 2px solid #ccc;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.contact-list {
  list-style: none;
  padding: 0;
}

.contact-item {
  margin: 10px 0;
}

.highlight-button {
  background-color: #0077cc;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.2s;
}

.highlight-button:hover {
  background-color: #0055aa;
}

.button-container {
  display: flex; /* Establecer el diseño en línea (en fila) */
  justify-content: space-between; /* Espacio igual entre los botones */
  width: 70%;
  margin: 10px auto;
}

/* Estilo para el botón "Agregar" con apariencia de iPhone */
.iphone-button-add {
  background-color: #0077cc; /* Azul típico de iOS */
  color: #fff; /* Texto blanco */
  border: none;
  border-radius: 10px; /* Bordes redondeados */
  padding: 10px;
  font-size: 18px;
  width: 100%; /* El botón ocupa todo el ancho disponible */
  cursor: pointer;
  transition: background-color 0.2s;
}

/* Opcional: Cambiar el color del botón al pasar el cursor sobre él */
.iphone-button-add:hover {
  background-color: #0055aa; /* Cambio de color al pasar el cursor */
}

/* Estilo para el botón "Buscar" con apariencia de iPhone */
.iphone-button-search {
  background-color: #28a745; /* Verde típico de iOS */
  color: #fff; /* Texto blanco */
  border: none;
  border-radius: 10px; /* Bordes redondeados */
  padding: 10px;
  font-size: 18px;
  width: 100%; /* El botón ocupa todo el ancho disponible */
  cursor: pointer;
  transition: background-color 0.2s;
}

/* Opcional: Cambiar el color del botón al pasar el cursor sobre él */
.iphone-button-search:hover {
  background-color: #1f7a38; /* Cambio de color al pasar el cursor */
}
