/* Establecer un contenedor para ambos elementos */
.container {
  display: flex; /* Utilizar flexbox */
}

.add-contact-container {
  background-color: #fff; /* Color de fondo */
  border: 2px solid #ccc; /* Borde de 2 píxeles sólido */
  border-radius: 10px; /* Bordes redondeados */
  padding: 20px; /* Espaciado interno de 20 píxeles */
  margin-top: 20px; /* Margen superior de 20 píxeles para separarlo de la lista de contactos */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

.contacts-container {
  flex: 1; /* Que ocupe la mitad del espacio disponible */
  padding: 20px;
  border: 2px solid #ccc;
  background-color: #f2f2f2;
}

.details-container {
  flex: 1; /* Que ocupe la mitad del espacio disponible */
  padding: 20px;
  border: 2px solid #ccc;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.contact-list {
  list-style: none;
  padding: 0;
}

.contact-item {
  margin: 10px 0;
}

.highlight-button {
  background-color: #0077cc;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.2s;
}

.highlight-button:hover {
  background-color: #0055aa;
}
